
<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-1 ">
      <div class="sidebar-header ">
        <a class="back-to-menu" routerLink="/" style="text-underline: none"><h3 > Menu &nbsp;<img src="assets/raspberry-pi.svg" class="img-fluid rpi"></h3></a>
      </div >
      <nav class="nav flex-column nav-pills  ">
        <li class="active">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Logowanie</a>
          <a class="nav-link" routerLink="gpio" routerLinkActive="active">Stan pinów</a>

          <div *ngIf="mode=='Server'" >
            <a href="#tokenSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">Token</a>
            <ul class="collapse list-unstyled " id="tokenSubmenu" >
              <li>
                <a class="nav-link"  href="get-token">Get Token</a>
              </li>
              <li>
                <a class="nav-link"  href="#">Home 2</a>
              </li>
              <li>
                <a  class="nav-link"  href="#">Home 3</a>
              </li>
            </ul>
          </div>

        </li>
      </nav>
    </div>
    <div class="col-6 gpio ">
      <div  class="alert alert-warning alert-dismissible fade show" role="alert"  hidden="{{alert}}">
        <strong> Wystąpił błąd</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <router-outlet></router-outlet>
    </div>
    <div class="col-1 ">
      <div class=" right-menu ">
        <button class="btn btn-success btn-lg" [disabled]="btnServerState"
                type="button" (click)="setMode('Server')" >
          Server Mode
        </button>
        <button class="btn btn-danger btn-lg margin" [disabled]="btnClientState"
                type="button" (click)="setMode('Client')" >
          Client Mode
        </button>
      </div>
    </div>
  </div>
</div>

