
.menu-left{
  margin-top: 5%;
}
.menu{
  justify-content: space-between;
  display:flex;
  flex-direction: row;
}
.right-menu{
  padding: 15px;
  display:flex;
  flex-direction: column;
}
.rpi{
  width: 30px;
}
.top{
  margin-top: 120px;
}
body{
  color: whitesmoke;
}
.back-to-menu{
  text-decoration: none;
}
.back-to-menu:hover{
  color: whitesmoke;
}

.gpio{
  margin-left: 5%;
}
