<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="top ">
  <div class="menu">
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-1  menu-left">
          <div class="sidebar-header ">
            <a class="back-to-menu" routerLink="/" style="text-underline: none"><h3 > Menu &nbsp;<img src="assets/raspberry-pi.svg" class="img-fluid rpi"></h3></a>
          </div >
          <nav class="nav flex-column nav-pills  ">
            <li class="active">
              <h3 *ngIf="mode" >You are in {{mode}} mode</h3>
              <a  *ngIf="mode=='Remote'" class="nav-link" routerLink="login" routerLinkActive="active">Log in</a>
              <a *ngIf="mode!=='Client' && mode !== 'Server'" class="nav-link" routerLink="change-mode" routerLinkActive="active">Set Mode</a>
              <a *ngIf="mode!=='Client' && mode !== 'Server'"  class="nav-link" routerLink="gpio" routerLinkActive="active">Local Rpi Pins</a>

              <ng-container *ngIf="mode=='Server'" >
                <!--                <a routerLink="/"  aria-expanded="false" class=" nav-link">Server managements</a>-->
                <!--                <ul class="collapse list-unstyled" id="ServerSubmenu" >-->

                <a class="nav-link" routerLinkActive="active" routerLink="change-mode">Shut down server</a>


                <a class="nav-link" routerLinkActive="active" routerLink="get-token">Get Token</a>

                <a  class="nav-link" routerLinkActive="active" routerLink="gpio" >Shared Pins</a>

                <a *ngIf="RpiClients?.length > 0" class="nav-link" routerLinkActive="active" routerLink="rpi">Show connected Rpi</a>

                <!--                </ul>-->
              </ng-container>
              <ng-container *ngIf="mode=='Client'" >

                <a class="nav-link" routerLinkActive="active" routerLink="connect">Connection </a>

                <a  class="nav-link" routerLinkActive="active" routerLink="gpio" >Shared Pins</a>
              </ng-container>
            </li>
          </nav>
        </div>

        <div class="col-sm-5 gpio ">
          <router-outlet ></router-outlet>
        </div>
      </div>
    </div>


  </div>
</div>
