
<div class="gpio"  >
  <h2 class="text-center">GPIO Board</h2>
  <br>
  <table class="w3-table  w3-bordered w3-border w3-centered center " >
    <tr style="font-size: large">
      <!--      <th style="width:5%" >BCM Number</th>-->
      <th style="width:8%">Name</th>
      <th style="width:8%">Mode</th>
      <th style="width:8%">V</th>
      <th style="width:8%">Physical Pin &nbsp;</th>
      <th style="width:8%">&nbsp;Physical Pin</th>
      <th style="width:8%">V</th>
      <th style="width:8%">Mode</th>
      <th style="width:8%">Name</th>
      <!--      <th style="width:5%">BCM Number</th>-->
    </tr>

    <!--    Normal mode-->

    <tbody >
    <ng-container *ngIf="mode !== 'Client'">
    <tr *ngFor="let item  of leftGpio let i = index" ngSwitch="{{item.GPIOMode}}">

      <td style="width:8%" class="w3-{{item.color}}">{{item.GPIOName}}  </td>
      <td (click)="UpdateModePin(item ,mode.value)" *ngSwitchCase="item.GPIOMode" style="width:8%" >
        <select #mode class="form-select  bg-secondary " style="width: 100%">
          <option #mode selected="selected" >{{item.GPIOMode | uppercase}}</option>
          <div *ngIf=" item.GPIOMode.includes('IN'); then out else in"></div>
        </select> </td>
      <td *ngSwitchDefault style="width:8%" >{{item.GPIOMode | uppercase}}</td>
      <div *ngIf="item.GPIOStatus != null else empty ">
        <ng-container *ngIf="item.GPIOStatus == 1 ">
          <td style="width:8%" (click)="UpdateStatusPin(item ,status.value)">
            <select #status class="form-select bg-danger " style="width: 100%">
              <option  #status    selected="selected">{{item.GPIOStatus}}</option>
              <div *ngIf="item.GPIOStatus == 1; then low else high" ></div>
            </select>
          </td>
        </ng-container>
        <ng-container *ngIf="item.GPIOStatus == 0 ">
          <td style="width:8%" (click)="UpdateStatusPin(item ,status.value)">
            <select #status class="form-select bg-primary " style="width: 100%">
              <option  #status    selected="selected">{{item.GPIOStatus}}</option>
              <div *ngIf="item.GPIOStatus == 1; then low else high" ></div>
            </select>
          </td>
        </ng-container>
      </div>
      <td style="width:5%; font-size: large" class="text-capitalize" ><strong>{{item.GPIOPin}}</strong> </td>

      <!-- Right Side-->
      <td style="width:5%; font-size: large" class="text-capitalize"> <strong>{{rightGpio[i].GPIOPin}} </strong></td>
      <ng-container *ngIf="rightGpio[i].GPIOStatus!==1 && rightGpio[i].GPIOStatus !==0" >
        <td style="width:5%"></td>
      </ng-container>
      <ng-container *ngIf="rightGpio[i].GPIOStatus===1 || rightGpio[i].GPIOStatus ===0 ">
        <ng-container *ngIf="rightGpio[i].GPIOStatus == 1 ">
          <td style="width:8%" (click)="UpdateStatusPin(rightGpio[i] ,status2.value)" >
            <select #status2 class="form-select bg-danger" style="width: 100%">
              <option  #status2 selected="selected">{{rightGpio[i].GPIOStatus}}</option>
              <div *ngIf="rightGpio[i].GPIOStatus === 1; then low else high" ></div>
            </select>
          </td>
        </ng-container>
        <ng-container *ngIf="rightGpio[i].GPIOStatus == 0 ">
          <td style="width:8%" (click)="UpdateStatusPin(rightGpio[i] ,status3.value)" >
            <select  #status3 class="form-select  bg-primary" style="width: 100%">
              <option  #status3 selected="selected">{{rightGpio[i].GPIOStatus}}</option>
              <div *ngIf="rightGpio[i].GPIOStatus === 1; then low else high" ></div>
            </select>
          </td>
        </ng-container>
      </ng-container>
      <div *ngIf="rightGpio[i].GPIOMode != null; else empty ">
        <td style="width:8%"  >
          <select  class="form-select  bg-secondary " style="width: 100%">

            <option  class="btn-danger" selected="selected">{{rightGpio[i].GPIOMode | uppercase}}</option>

            <div *ngIf="rightGpio[i].GPIOMode=== 'IN'; then out else  in" ></div>
          </select>
        </td>
      </div>
      <td style="width:8%" class="w3-{{rightGpio[i].color}}">{{rightGpio[i].GPIOName}}</td>
    </tr>
    </ng-container>
    <!--    Client mode-->

  <ng-container  *ngIf="mode == 'Client'" >
    <tr *ngFor="let item  of leftGpio let i = index" ngSwitch="{{item.GPIOMode}}">

      <td style="width:5%" class="w3-{{item.color}}" >{{item.GPIOName}}  </td>
      <td style="width:5%; font-size: large"  >{{item.GPIOMode | uppercase}}</td>
      <ng-container *ngIf="item.GPIOStatus!==1 && item.GPIOStatus !==0" >
        <td style="width:5%"></td>
      </ng-container>
      <ng-container *ngIf="item.GPIOStatus == 1 ">
        <td style="width:5%; font-size: large"  class="bg-danger" >{{item.GPIOStatus }}  </td>
      </ng-container>
      <ng-container *ngIf="item.GPIOStatus == 0 ">
        <td style="width:5%; font-size: large" class="bg-primary">{{item.GPIOStatus}}</td>
      </ng-container>

      <td style="width:5%; font-size: large" class="text-capitalize" ><strong>{{item.GPIOPin}}</strong> </td>
      <!-- Right Side-->
      <td style="width:5%; font-size: large" class="text-capitalize"> <strong>{{rightGpio[i].GPIOPin}} </strong></td>
      <ng-container *ngIf="rightGpio[i].GPIOStatus!==1 && rightGpio[i].GPIOStatus !==0" >
        <td style="width:5%"></td>
      </ng-container>
      <ng-container *ngIf="rightGpio[i].GPIOStatus===1 || rightGpio[i].GPIOStatus ===0 ">
        <ng-container *ngIf="rightGpio[i].GPIOStatus == 1 ">
          <td style="width:5%; font-size: large" class="bg-danger"  >{{rightGpio[i].GPIOStatus}} </td>
        </ng-container>
        <ng-container *ngIf="rightGpio[i].GPIOStatus == 0 ">
          <td style="width:5%; font-size: large" class="bg-danger" >{{rightGpio[i].GPIOStatus}}</td>
        </ng-container>
      </ng-container>

      <div *ngIf="rightGpio[i].GPIOMode != null; else empty ">
        <td style="width:5%; font-size: large"  >{{rightGpio[i].GPIOMode | uppercase}}</td>
      </div>
      <td style="width:5%" class="w3-{{rightGpio[i].color}}">{{rightGpio[i].GPIOName}}</td>
    </tr>
  </ng-container>
    </tbody>
  </table>
</div>


<ng-template #in>
  <option value="IN">IN</option>
</ng-template>
<ng-template #out>
  <option value="OUT">OUT</option>
</ng-template>

<ng-template #high>
  <option  value=1>1</option>
</ng-template>
<ng-template #low>
  <option   value=0>0</option>
</ng-template>

<ng-template #empty>
  <td style="width:8%"></td>
</ng-template>
