@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
  color: whitesmoke;
  height: 100%;
  background-image: url("assets/bg3.jpg");
  background-repeat: no-repeat ;
  background-size: cover;
}
body{


  /*background: rgb(80,26,40);*/
  /*background: radial-gradient(circle, rgba(80,26,40,1) 23%, rgba(47,5,16,0.87718837535014) 84%);*/
}
