<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="container">
  <div class="row">
    <div class="d-grid  flex-column justify-content-end ">
    <button class="btn btn-success btn-lg server "
            type="button">
      Server Mode
    </button>
      <button class="btn btn-danger btn-lg server margin "
              type="button">
        Client Mode
      </button>
    </div>
  </div>
  <div *ngIf="!User then login; else gpio;" >

  </div>
  <ng-template #login >
    <app-log-in ></app-log-in>
  </ng-template>
  <ng-template #gpio>

    <div class="col-12 col-md-8 center " >
      <h2>Raspberry Pi B+, 2, 3 &amp; Zero</h2>
      <table class="w3-table w3-bordered w3-border w3-centered center" >
        <tbody >
        <tr *ngFor="let item  of leftGpio let i = index">
          <td style="width:40%" class="w3-{{item.color}}">{{item.GPIOName}}</td>
          <td style="width:10%">{{item.GPIONumber}}</td>
          <td style="width:10%">{{rightGpio[i].GPIONumber}}</td>
          <td style="width:40%" class="w3-{{rightGpio[i].color}}">{{rightGpio[i].GPIOName}}</td>
        </tr>
        </tbody></table>
      <tbody>
    </div>
  </ng-template>
</div>


