
<div class="container">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Logowanie </h2>

      <!-- Login Form -->
      <flash-messages></flash-messages>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">

          <input for="username"  placeholder="Login" type="text" formControlName="username" name="Login" id="login" class="fadeIn second" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">To pole jest wymagane</div>
          </div>
        </div>
        <div class="form-group">
          <input for="password" placeholder="Hasło" type="password" formControlName="password" id="password" name="login" class="fadeIn third" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">To pole jest wymagane</div>
          </div>
        </div>
        <div class="form-group">
          <input [disabled]="loading" type="submit"  class="fadeIn fourth" value="Zaloguj">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        </div>
      </form>


        <p class="login__signup">Zapomniałeś hasło? <a routerLink="/forgot-password"> Przypomnij</a></p>

      <p class="login__signup">Nie masz konta? &nbsp;
        <a routerLink="/register">Zarejestruj się</a></p>

    </div>
  </div>
</div>
